{% extends "base.html" %}

{% block title %}Settings – HeyseForms{% endblock %}

{% block breadcrumb %}
<li><a href="/">HeyseForms</a></li>
<li><a href="/404">Error</a></li>
{% endblock %}

{% block main %}
<div class="row">

    
    <section class="col-sm-12" role="main" aria-label="Page Content">
            <a id="main-content"></a>
                    <h1 class="page-header">Page Not Found</h1>
                                                          <div class="region region-content">
    <section id="block-system-main" class="block block-system clearfix">

      
  <article id="node-281037" class="node node-page clearfix" about="/node/281037" typeof="foaf:Document">
    <header>
            <span property="dc:title" content="Page Not Found" class="rdf-meta element-hidden"></span>      </header>
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p><strong>We're sorry, the page you were looking for can't be located.</strong> If you typed in the address, you may have typed it incorrectly. If you think this is the case, please try retyping the address and resubmitting the page. If you arrived at this page from a link or bookmark, the page may no longer be available on the web. This could also be a temporary problem.</p>
<p>To try to locate the page:</p>
<ul>
<li><strong>Check the spelling</strong> in the web address that appears in the Address bar</li>
<li><strong>Search</strong></li>
<li><strong>Go back</strong> (click the Back button to try another link)</li>
<li><strong>Browse</strong> from the <a href="/">Dashboard</a></li>
</ul>
</div></div></div>    </article>

</section>
  </div>
    </section>

    
  </div>
{% endblock %}
