<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<title>{% block title %}{% endblock %}</title>
	{% include "styles.j2" %}
	<style>
		@import url("https://its.umich.edu/modules/system/system.base.css?rdj4b2");
	</style>
	<style>
		@import url("https://its.umich.edu/sites/all/modules/calendar/css/calendar_multiday.css?rdj4b2");
		@import url("https://its.umich.edu/modules/field/theme/field.css?rdj4b2");
		@import url("https://its.umich.edu/sites/all/modules/google_cse/google_cse.css?rdj4b2");
		@import url("https://its.umich.edu/modules/node/node.css?rdj4b2");
		@import url("https://its.umich.edu/sites/all/modules/office_hours/office_hours.css?rdj4b2");
		@import url("https://its.umich.edu/sites/all/modules/views/css/views.css?rdj4b2");
		@import url("https://its.umich.edu/sites/all/modules/ckeditor/css/ckeditor.css?rdj4b2");
	</style>
	<style>
		@import url("https://its.umich.edu/sites/all/modules/ctools/css/ctools.css?rdj4b2");
	</style>
	<style>
		@import url("https://its.umich.edu/sites/all/themes/bootstrap_its/css/bootstrap.min.css?rdj4b2");
		@import url("https://its.umich.edu/sites/all/themes/bootstrap_its/scripts/fancybox/jquery.fancybox-1.3.0.css?rdj4b2");
		@import url("https://its.umich.edu/sites/all/themes/bootstrap_its/css/style.css?rdj4b2");
	</style>
</head>

<body class="html not-front not-logged-in two-sidebars page-node page-node- page-node-181421 node-type-landing-page">
	
	<header id="navbar" role="banner" aria-label="Page Banner" class="navbar navbar-static-top navbar-default">
		<div class="container">
			<div class="navbar-header">

			</div>

			<div class="navbar-collapse collapse">
				<div class="region region-navigation">
					<section id="block-block-396" class="block block-block clearfix">


						<div><a href="https://its.umich.edu/"><img alt="U-M Information and Technology Services"
									src="https://its.umich.edu/sites/all/themes/bootstrap_its/images/its-logo@3x.png"></a></div>

					</section>
					<section id="block-block-396" class="block block-block clearfix">


						<div style="text-align: center;">
							<a href="/home" style="color: rgb(255, 255, 255); text-decoration: none">Dashboard</a>
							<a style="color: rgb(255, 255, 255)">&ensp;|&ensp;</a>
							{% include "gsheet.j2" %}
						
							
						</div>
						<br>
						

					</section>
				</div>
			</div>
		</div>
	</header>

	<div class="main-container container">

		<div class="breadcrumb-container" role="navigation" aria-label="Breadcrumb">
			<ol class="breadcrumb">
				<!--
					DIVERGENCE: this prevents the little house icon from being
					prepended to the first element, and calling out to
					nonexistent resources
				-->
				<style scoped>
					::before {
						content: none;
					}
					
					
				</style>
				<div class="dropdown" style="float: right">
					<button class="dropbtn">
							<p style="color: black">{{ user['sub'] }} &ensp; &ensp; <i class="arrow down"></i></p>						
					</button> 
					<div class="dropdown-content">
						<a href="/settings">Settings</a>
						<a href="#">Logout</a>
					</div>
				</div>
				{% block breadcrumb %}
				{% endblock %}
				<li class="active"></li>
			</ol>
		</div>

		{% block main %}{% endblock %}

	</div>

	<footer class="footer container" role="contentinfo" aria-label="Page Footer">
		<div class="region region-footer">
			<section id="block-block-5" class="block block-block clearfix">


				<div class="umich"><a href="https://umich.edu/">University of Michigan</a></div>

				<div class="links">
					<h2><a href="https://its.umich.edu/">Information and Technology Services</a></h2>
					<ul>
						<li><a href="https://its.umich.edu/about">About ITS</a></li>
						<li><a href="https://safecomputing.umich.edu/">Safe Computing</a></li>
						<li><a href="https://status.its.umich.edu/">ITS Service Status</a></li>
						<li><a href="https://its.umich.edu/web-strategy/">ITS Web Strategy</a></li>
						<li><a href="https://its.umich.edu/about/work-at-its">Work at ITS</a></li>

					</ul>
				</div>

				<div class="links right">
					<ul>
						<li><a href="https://wolverineaccess.umich.edu/">Wolverine Access</a></li>
						<li><a href="https://its.umich.edu/remote-resource-guide">Remote Resource Guide</a></li>
						<li><a href="https://it.umich.edu/">Office of the VPIT-CIO</a></li>
					</ul>
				</div>

				<!--div class="styleguide"><a href="/web-strategy/beta/seamless-experience/visual-design/style-guide/">ITS Style Guide</a></div-->
				<!--div class="styleguide"><a href="/web-strategy/">ITS Web Strategy</a></div-->
				<div class="copyright"><a href="https://regents.umich.edu/">© 2022 The Regents of the University of
						Michigan</a></div>
			</section>
		</div>
	</footer>

</body>

</html>
