{% extends "base.html" %}

{% block title %}Settings – HeyseForms{% endblock %}

{% block breadcrumb %}
<li><a href="/">HeyseForms</a></li>
<li><a href="/documentations">Documentations</a></li>
{% endblock %}

{% block main %}
<div class="row" style="margin:auto;width:90%;">

	<h1>Documentations for HeyseForms</h1>        
	<p>This document provides information about:</p>      
	<ul>
		<li>Requirements for using the HeyseForms</li>
		<li>Setting up the HeyseForms.</li>
		<li>Navigating the HeyseForms.</li>
		<li>Understanding the error messages from the HeyseForms.</li>
		<li>Maintaining the HeyseForms.</li>
	</ul>

</div>	

{% endblock %}
