{% extends "base.html" %}

{% block title %}Home – HeyseForms{% endblock %}

{% block breadcrumb %}
<li><a href="/">HeyseForms</a></li>
<li><a href="/home">Home</a></li>
{% endblock %}

{% block main %}
<h1>Welcome!</h1>

<p>Click on your interns to see their responses</p>

<ul>
  <li><a href="/responses/benton">Intern 1</a></li>
  <li><a href="/responses/benton">Intern 2</a></li>
  <li><a href="/responses/benton">Intern 3</a></li>
  <li><a href="/responses/benton">Intern 4</a></li>
  <li><a href="/responses/benton">Intern 5</a></li>
</ul>
{% endblock %}
