{% extends "base.html" %}

{% block title %}Home – HeyseForms{% endblock %}

{% block breadcrumb %}
<li><a href="/">HeyseForms</a></li>
<li><a href="/home">Home</a></li>
{% endblock %}

{% block main %}
<style scoped>
.home > * {
  padding: 0;
}
.home {
  text-align: center;
  max-width: 25em;
}
li.uniq{
  list-style: none;
  margin-bottom: 0.2em;
  width:80%;
  float:left;
}
li.count{
  list-style: none;
  margin-bottom: 0.2em;
  width:20%;
  float:right;
}
button.response {
  border: 0;
  line-height: 2.5;
  font-size: 1em;
  text-align: center;
  display: block;
  width: 100%;
}
button.response:hover {
  filter: brightness(95%);
}
</style>
<div class="home row" style="margin:auto;width:90%;">
  <h1>Welcome!</h1>

  <p>Click on your interns to see their responses.</p>

  <ul>
    {% for intern in interns %}
      <li class = "uniq"><button class = "response"
        onclick="location.href='/responses/{{ interns[intern]["uniqname"] }}'"
        style="background-image: linear-gradient(90deg, #99d8a7 {{ interns[intern]["submission"]/sub_count*100 }}%, #d9d9d9 0);"
      >{{ interns[intern]["uniqname"] }}</button></li> 
      <li class = "count"><button class = "response" 
        onclick="location.href='/responses/{{ interns[intern]["uniqname"] }}'" 
        style="background-color: transparent;">{{ interns[intern]["submission"] }}/{{ sub_count }}</button></li>
    {% endfor %}
  </ul>
  <br><br><br>

  <p>Click <a href="/homeadmin">here</a> to go to admin home page.</p>
</div>
{% endblock %}
