{% extends "base.html" %}

{% block title %}Settings – HeyseForms{% endblock %}

{% block breadcrumb %}
<li><a href="/">HeyseForms</a></li>
<li><a href="/noauth">Not Authorized</a></li>
{% endblock %}

{% block main %}
<div class="row" style="margin:auto;width:90%;">
  <h1>Page Not Found</h1>
  <p><strong>You are not authorized to use this service.</strong> If this is an error please contact the ITS Planning Internship Team.</p>
</div>
{% endblock %}
