{% extends "base.html" %}

{% block title %}Settings – HeyseForms{% endblock %}

{% block breadcrumb %}
<li><a href="/">HeyseForms</a></li>
<li><a href="/settings">Settings</a></li>
{% endblock %}

{% block main %}
<div class="row" style="margin:auto;width:90%;">

  <h2 >Google Spreadsheet Link</h2>
  <form class="form-settings" id="change_spreadsheeet_link" action="/settingsadmin/changeSpreadsheetURL" method="post">
      <label>In use: <a href="{{ spreadsheet_link }}">{{ spreadsheet_link }}</a></label>
      <input type="url" name="spreadsheetLink" placeholder="Enter the URL of Google Spreadsheet here to connect" style="width:80%">
      <button type="button" onclick="changeGoogleSheetsURL()">Change</button><br>
  </form>

  <h2>Add Interns</h2>
  <p>To add interns, navigate to your own <a href="/settings">settings page</a> and input your intern's uniqname</p>

  <h2>All Interns</h2>
  <table>
    <tr>
      <th>Uniqname</th>
    </tr>
    {% for intern in interns %}
      <tr>
        <td>{{ intern["uniqname"] }}</td>            
      </tr>
    {% endfor %}
  </table>

</div>

<script>
	function changeGoogleSheetsURL() {
			document.getElementById("change_spreadsheeet_link").submit();
	}
</script>
{% endblock %}
