{% extends "base.html" %}

{% block title %}Settings – HeyseForms{% endblock %}

{% block breadcrumb %}
<li><a href="/">HeyseForms</a></li>
<li><a href="/settings">Settings</a></li>
{% endblock %}

{% block main %}


    <h2 >Google Spreadsheet Link</h2>
    <form class="form-settings">
        <input type="url" placeholder="To be replaced" style="width:80%; background : #F2EDED" readonly><br>
    </form>

    <h2 >Add Interns</h2>
    <form class="form-settings">    
        <input type="text" placeholder="Add interns to your watchlist using their uniqnames" style="width:80%"></input>
        <button type="button" onclick="alert('Added!')">Add</button><br>
    </form>



<h2 >Current Interns</h2>

<table>
  <tr>
    <td>Intern 1 &emsp; <button type="button" onclick="alert('Removed!')">Remove</button><br></td>
    
  </tr>
  <tr>
    <td>Intern 2 &emsp; <button type="button" onclick="alert('Removed!')">Remove</button><br></td>
  </tr>
  <tr>
    <td>Intern 3 &emsp; <button type="button" onclick="alert('Removed!')">Remove</button><br></td>
  </tr>
</table>

<h2 >Email Reminder</h2>
<label class="switch">
  {% if notif %}
    <input type="checkbox" checked>
  {% else %}
    <input type="checkbox">
  {% endif %}
  <span class="slider round"></span>
</label>
{% endblock %}
