{% extends "base.html" %}

{% block title %}Settings – HeyseForms{% endblock %}

{% block breadcrumb %}
<li><a href="/">HeyseForms</a></li>
<li><a href="/settings">Settings</a></li>
{% endblock %}

{% block main %}
<div class="row">
  <h2 >Google Spreadsheet Link</h2>
  <form class="form-settings">
      <input type="url" value="{{ link }}" style="width:80%; background : #F2EDED" readonly><br>
  </form>

  <h2 >Add Interns</h2>
  <form class="form-settings" id="add_intern_form" action="/settings/addIntern" method="post">    
      <input type="text" name="intern_uniqname" placeholder="Add interns to your watchlist using their uniqnames" style="width:80%"></input>
      <input type="button" onclick="addIntern()" value="Add"></input>
  </form>

  <h2 >Current Interns</h2>
  {% for intern in internss %}
    <form id="remove_intern_form_{{loop.index}}" action="/settings/removeIntern" method="post"></form>
  {% endfor %}
  <table>
    <tr>
      <th>Uniqname</th>
      <th>Action</th>
    </tr>
    {% for intern in interns %}
      <tr>
        <td>{{ interns[intern]["uniqname"] }}</td>
        <input type="hidden" name="intern_uniqname" value="{{ interns[intern]["uniqname"] }}" form="remove_intern_form_{{loop.index}}"/>
        <td><input type="button" onclick="removeIntern({{loop.index}}, '{{ raw }}{{ interns[intern]["uniqname"] }}{{ endraw }}')" value="Remove" form="remove_intern_form_{{loop.index}}"></input></td>
      </tr>
    {% endfor %}
  </table>

  <h2 >Email Reminder</h2>
  <form id="notification_toogle_form" action="/settings/toggleReminder" method="post">
    <label class="switch">
      {% if notif %}
        <input name="toggler" type="checkbox" checked onclick="toggleReminder()">
      {% else %}
        <input name="toggler" type="checkbox" onclick="toggleReminder()">
      {% endif %}
      <span class="slider round"></span>
    </label>
  </form>
</div>

<script>
  function addIntern(form_index, intern_uniqname) {
    document.getElementById("add_intern_form").submit();
  }

  function removeIntern(form_index, intern_uniqname) {
    document.getElementById("remove_intern_form_"+form_index.toString()).submit();
  }
  
	function toggleReminder() {
		document.getElementById("notification_toogle_form").submit();
	}
</script>
{% endblock %}
